<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roukaixin.mapper.ClientRegistrationMapper">

    <resultMap id="BaseResultMap" type="com.roukaixin.pojo.ClientRegistration">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="registrationId" column="registration_id" jdbcType="VARCHAR"/>
            <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
            <result property="clientSecret" column="client_secret" jdbcType="VARCHAR"/>
            <result property="clientAuthenticationMethod" column="client_authentication_method" jdbcType="VARCHAR"/>
            <result property="authorizationGrantType" column="authorization_grant_type" jdbcType="VARCHAR"/>
            <result property="redirectUri" column="redirect_uri" jdbcType="VARCHAR"/>
            <result property="scopes" column="scopes" jdbcType="VARCHAR"/>
            <result property="providerDetailsId" column="provider_details_id" jdbcType="BIGINT"/>
            <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,registration_id,client_id,
        client_secret,client_authentication_method,authorization_grant_type,
        redirect_uri,scopes,provider_details_id,
        client_name
    </sql>
</mapper>
